.gradle
.vscode
.settings
/bin
/build
/src/main/java/com/recetario/backend/model/QCategoria.java
/src/main/java/com/recetario/backend/model/QPlato.java
/src/main/java/com/recetario/backend/model/QProcedencia.java